queelag-avatar,
queelag-badge,
queelag-navigation-bar,
queelag-navigation-bar-item,
queelag-button,
queelag-checkbox,
queelag-divider,
queelag-form,
queelag-icon,
queelag-image,
queelag-input,
queelag-input-file,
queelag-meter,
queelag-select,
queelag-switch,
queelag-textarea {
  opacity: 0;
}

queelag-avatar:defined,
queelag-badge:defined,
queelag-navigation-bar:defined,
queelag-navigation-bar-item:defined,
queelag-button:defined,
queelag-checkbox:defined,
queelag-divider:defined,
queelag-form:defined,
queelag-icon:defined,
queelag-image:defined,
queelag-input:defined,
queelag-input-file:defined,
queelag-meter:defined,
queelag-select:defined,
queelag-switch:defined,
queelag-textarea:defined {
  opacity: 1;
}
