q-avatar,
q-badge,
q-navigation-bar,
q-navigation-bar-item,
q-button,
q-checkbox,
q-divider,
q-form,
q-icon,
q-image,
q-input,
q-input-file,
q-meter,
q-select,
q-aria-slider,
q-aria-switch,
q-textarea {
  opacity: 0;
}

q-avatar:defined,
q-badge:defined,
q-navigation-bar:defined,
q-navigation-bar-item:defined,
q-button:defined,
q-checkbox:defined,
q-divider:defined,
q-form:defined,
q-icon:defined,
q-image:defined,
q-input:defined,
q-input-file:defined,
q-meter:defined,
q-select:defined,
q-aria-slider:defined,
q-aria-switch:defined,
q-textarea:defined {
  opacity: 1;
}
